@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .borderGradient {
    border-image: linear-gradient(45deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%))
      1;
  }

  /***** Light theme *****/
  [data-mode="lightMode"] {
    /***** Light theme *****/
    --bg: hsl(0, 0%, 100%);
    /* BG */

    --bg-pattern: hsl(225, 100%, 98%);
    /* Top BG Pattern */

    --bg-card: hsl(227, 47%, 96%);
    /* Card BG */

    --text-secondary: hsl(228, 12%, 44%);
    /* Text */

    --text-primary: hsl(230, 17%, 14%);
    /* Text */
  }
  /***** End Light theme *****/

  /***** Dark theme *****/
  [data-mode="darkMode"] {
    /***** Light theme *****/
    --bg: hsl(230, 17%, 14%);
    /* BG */

    --bg-pattern: hsl(232, 19%, 15%);
    /* Top BG Pattern */

    --bg-card: hsl(228, 28%, 20%);
    /* Card BG */

    --text-secondary: hsl(228, 34%, 66%);
    /* Text */

    --text-primary: hsl(0, 0%, 100%);
    /* Text */
  }
  /***** End Dark theme *****/
}

:root {
  /***** Primary *****/
  --LimeGreen: hsl(163, 72%, 41%);
  --BrightRed: hsl(356, 69%, 56%);
  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);
  --YouTube: hsl(348, 97%, 39%);
  /***** End Primary *****/
}
